.reviews-item {
  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__left {
  }

  &__avatar {
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $black;
  }

  &__attributes {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #9f9f9f;
  }

  &__star-rating {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__rating-item {
  }

  &__date {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #9f9f9f;
    margin-bottom: 10px;
    display: block;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $black45;
    margin-bottom: 44px;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__photos {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 10px;
    }
  }

  &__photos-item {
    max-width: 132px;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 768px) {
      border-radius: 12px;
    }
  }
}
