.agreement {
  margin-bottom: 80px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (max-width: 768px) {
      gap: 40px;
    }
  }

  &__section {
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: $black45;
    margin-left: 30px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
