.card-details {
  &__inner {
    display: flex;
    gap: 40px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 51%;
    display: flex;
    gap: 15px;

    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &__right {
    width: 46%;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  &__row1 {
    margin-bottom: 20px;
    display: flex;
    gap: 4px;
  }

  &__row1-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $black45;
  }

  &__row1-img {
  }

  &__row2 {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }

  &__row2-rating {
    display: flex;
    gap: 2px;
  }

  &__row2-rating-item {
  }

  &__row2-total {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $black45;
    margin-right: 10px;
  }

  &__row2-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: $black45;
  }

  &__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 1.2;
    color: $black;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $black;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__row3 {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
  }

  &__row3-link1,
  &__row3-link2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: $brown;
    transition: 0.3s;

    &:hover {
      color: $brown-hover;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__row3-link1 {
  }

  &__row3-link2 {
  }

  &__color {
    margin-bottom: 40px;
  }

  &__color-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $black45;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__color-box {
    display: flex;
    gap: 10px;
  }

  &__color-item {
    border: 1px solid rgba($black45, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 62px;
    height: 62px;
    transition: 0.3s;

    &.active {
      // border: 2px solid $brown;
      border: 1px solid $brown;
      box-shadow: 0 0 0 1px $brown;
    }

    &:hover {
      border: 1px solid $brown;
      box-shadow: 0 0 0 1px $brown;
    }
  }

  &__size {
    margin-bottom: 40px;
  }

  &__size-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $black45;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__size-box {
    display: flex;
    gap: 10px;
  }

  &__size-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $black45;
    text-transform: uppercase;
    padding: 19px 24px;
    background: $white;
    border: 1px solid rgba($black45, 0.2);
    border-radius: 10px;
    transition: 0.3s;

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 10px 16px;
    }

    &.active,
    &:hover {
      background: $brown;
      color: $white;
      border: 1px solid $brown;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__price-text {
    font-weight: 600;
    font-size: 52px;
    line-height: 1.2;
    color: #3d3d3d;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  &__price-btn {
    padding: 20px 120px;

    @media (max-width: 768px) {
      padding: 10px 50px;
    }

    img {
      @media (max-width: 768px) {
        width: 40px;
      }
    }
  }
}

// slider-details-thumb==========================================================
.slider-details-thumb-container {
  width: 17%;
  height: 697px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 40px;

  @media (max-width: 1200px) {
    max-width: 136px;
    min-width: 136px;
    height: auto;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    flex-direction: row;
    gap: 20px;
    max-width: 640px;
    min-width: auto;
    margin-top: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    margin-top: 0;
    width: 24px;
    height: 14px;

    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    @media (max-width: 768px) {
      transform: rotate(-90deg);
    }
  }
  .swiper-button-next {
    @media (max-width: 768px) {
      transform: rotate(-90deg);
    }
  }
}

.slider-details-thumb {
  width: 100%;
  height: 589px;

  @media (max-width: 1200px) {
    // width: auto;
    // max-width: 136px;
  }

  @media (max-width: 768px) {
    height: auto;
    max-width: none;
  }

  &__wrapper {
  }

  &__slide {
    border-radius: 15px;
    overflow: hidden;
    position: relative;

    @media (max-width: 768px) {
      border-radius: 10px;
    }

    &.swiper-slide-thumb-active {
      border: 2px solid $brown;
    }

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @media (max-width: 768px) {
        height: auto;
        max-width: none;
      }
    }
  }

  &__play {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slider-details-navigation {
}

// slider-details-container============================================================
.slider-details-container {
  width: 80.8%;
  height: 858px;

  @media (max-width: 1200px) {
    width: auto;
    height: auto;
    max-width: 638px;
  }

  @media (max-width: 768px) {
    // width: 100%;
    // height: 600px;
  }
}
.slider-details {
  width: 100%;
  height: 100%;
  &__wrapper {
  }

  &__slide {
    border-radius: 30px;
    overflow: hidden;

    @media (max-width: 768px) {
      border-radius: 20px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

// product-desc=============================================
.product-desc {
  margin-top: 80px;

  @media (max-width: 768px) {
    margin-top: 50px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__text {
  }
}

// product-feature====================================================
.product-feature {
  &__title {
  }

  &__inner {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    max-width: 1400px;

    @media (max-width: 1400px) {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 636px;
  }

  &__right {
    max-width: 724px;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    @media (max-width: 1400px) {
      max-width: none;
      width: 100%;
    }
  }

  &__row {
    display: flex;
  }

  &__col-1,
  &__col-2,
  &__col-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #7b7b7b;

    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 550px) {
      font-size: 13px;
    }
  }

  &__col-1 {
  }

  &__col-2 {
    flex-grow: 1;
    border-bottom: 1px dashed #7b7b7b;
    margin-top: 20px;
    align-self: flex-start;

    @media (max-width: 768px) {
      margin-top: 16px;
    }
    @media (max-width: 550px) {
      margin-top: 14px;
    }
  }

  &__col-3 {
    color: $black45;
    max-width: 388px;
    width: 100%;

    @media (max-width: 1400px) {
      max-width: 650px;
    }
    @media (max-width: 1000px) {
      max-width: 450px;
    }
    @media (max-width: 768px) {
      max-width: 300px;
    }
    @media (max-width: 550px) {
      max-width: 140px;
    }
  }
}

.product-slider {
  margin-bottom: 80px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }

  .tabs-slider__top {
    @media (max-width: 450px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .tabs-slider__navigation {
    @media (max-width: 450px) {
      align-self: flex-end;
    }
  }
}
