.order-notfound {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 610px;
  align-items: center;
  margin-left: 220px;

  @media (max-width: 1400px) {
    max-width: none;
    margin-left: 0;
  }
  @media (max-width: 768px) {
    gap: 20px;
  }

  &__img {
    width: 120px;
  }

  &__box {
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: $black;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: $black45;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__btn {
    padding: 28px 70px;

    @media (max-width: 768px) {
      font-size: 16px;
      padding: 16px 56px;
    }
  }
}
