<div class="card-article">
    <div class="card-article__img-wrap">
        <img src="img/articles-1.jpg" alt="Ссылка на статью" class="card-article__img" />
    </div>
    <div class="card-article__info">
        <h4 class="card-article__title">Принципы работы и характеристики термобелья</h4>
        <p class="card-article__text">
            Термобельё особенно хорошо проявляет себя в «трёхслойном» наборе одежды для активного отдыха в холодное
            время
            года.
        </p>
        <a href="article.html" class="card-article__btn btn">Читать</a>
    </div>
    <div class="card-article__date">
        <img src="img/article-day.svg" alt="" class="card-article__day" />
        <img src="img/article-month.svg" alt="" class="card-article__month" />
    </div>
    <a href="article.html" class="card-article__link"></a>
</div>