<div class="contacts__inner">
    <div class="contacts__top">
        <div class="contacts__address">
            <img src="../img/contacts-address.svg" alt="Адрес">
            <span>г. Москва121500, 60-й км МКАД, дом 4А, офис 311</span>
        </div>
        <a href="tel:89999999999" class="contacts__phone">
            <img src="../img/contacts-phone.svg" alt="Телефон">
            <span> 8 (999) 999-99-99</span>
        </a>
        <a href="mailto:info@mail.com" class="contacts__email">
            <img src="../img/contacts-email.svg" alt="Email">
            <span>info@mail.com</span>
        </a>
        <div class="contacts__chat">
            <div class="contacts__chat-text">Перейти в чат:</div>
            <div class="contacts__social">
                <a href="#" class="contacts__social-item">
                    <img src="../img/contacts-tg.svg" alt="Телеграмм">
                </a>
                <a href="#" class="contacts__social-item">
                    <img src="../img/contacts-viber.svg" alt="Viber">
                </a>
                <a href="#" class="contacts__social-item">
                    <img src="../img/contacts-whatsapp.svg" alt="Whatsapp">
                </a>
            </div>
        </div>
    </div>
    <div class="contacts__map">
        <div style="position:relative;overflow:hidden;"><a
                href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a
                href="https://yandex.ru/maps/213/moscow/?ll=37.607672%2C55.771898&utm_campaign=desktop&utm_medium=mapframe&utm_source=maps&z=13.24"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Москва — Яндекс Карты</a><iframe
                src="https://yandex.ru/map-widget/v1/?ll=37.607672%2C55.771898&utm_campaign=desktop&utm_medium=search&utm_source=maps&z=13.24"
                width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
</div>