<form class="form-dropdown-sort">
    <!-- Чтобы отключить добавить класс disabled -->
    <div class="dropdown">
        <div class="dropdown__back"></div>
        <div class="dropdown__btn">По популярности</div>
        <div class="dropdown__menu">
            <ul class="dropdown__list">
                <li class="dropdown__item active">
                    <label class="form-dropdown-sort__label">
                        <input type="radio" name="sort" class="form-dropdown-sort__radio radio" checked>
                        <span>По популярности</span>
                    </label>
                </li>
                <li class="dropdown__item">
                    <label class="form-dropdown-sort__label">
                        <input type="radio" name="sort" class="form-dropdown-sort__radio radio">
                        <span>По рейтингу</span>
                    </label>
                </li>
                <li class="dropdown__item">
                    <label class="form-dropdown-sort__label">
                        <input type="radio" name="sort" class="form-dropdown-sort__radio radio">
                        <span>По новизне</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</form>