<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top-inner">
                <a href="#" class="footer__logo">
                    <img src="../img/footer-logo.svg" alt="Логотип">
                </a>
                <nav class="menu-footer">
                    <ul class="menu-footer__list">
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Главная</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Контакты</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Оплата и доставка</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">О бренде</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Статьи</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Отзывы</a>
                        </li>
                    </ul>
                </nav>
                <div class="footer__contacts">
                    <a href="tel:89999999999" class="footer__contacts-item">
                        <img src="../img/footer-phone.svg" alt="Телефон">
                        <span>8 (999) 999-99-99</span>
                    </a>
                    <a href="mailto:info@mail.com" class="footer__contacts-item">
                        <img src="../img/footer-email.svg" alt="Email">
                        <span>info@mail.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-inner">
                <a href="#" class="footer__bottom-text">© Все права защищены</a>
                <a href="#" class="footer__bottom-text">Политика обработки персональных данных</a>
                <a href="#" class="footer__bottom-text">Согласие на обработку персональных данных</a>
            </div>
        </div>
    </div>
</footer>