<div class="overlay-for-menu"></div>
<header class="header">
    <div class="header__top-wrap">
        <div class="header__top header-top">
            <button class="header-top__btn header-top__btn--phone">Заказать звонок</button>
            <a href="tel:89999999999" class="header-top__phone">8 (999) 999-99-99</a>
            <a href="mailto:info@mail.com" class="header-top__btn header-top__btn--email">Написать</a>
            <a href="mailto:info@mail.com" class="header-top__email">info@mail.com</a>
            <button class="header-top__btn-login">
                <img src="../img/login.svg" alt="Логин">
            </button>
            <button class="header-top__btn-cart">
                <img src="../img/cart-icon.svg" alt="Иконка корзины">
                <span>0</span>
            </button>
        </div>
    </div>
    <div class="container">
        <div class="header__bottom-mobile"></div>

        <div class="header-bottom">
            <div class="menu-left">
                <nav class="menu-left__nav">
                    <ul class="menu-left__list">
                        <li class="menu-left__item">
                            <a href="articles.html" class="menu-left__link">Статьи</a>
                        </li>
                        <li class="menu-left__item">
                            <a href="#" class="menu-left__link">Популярные товары</a>
                        </li>
                        <li class="menu-left__item">
                            <a href="#" class="menu-left__link">Новинки</a>
                        </li>
                        <li class="menu-left__item">
                            <a href="#" class="menu-left__link">Акции</a>
                        </li>
                        <li class="menu-left__item">
                            <a href="#" class="menu-left__link">Скидки</a>
                        </li>
                        <li class="menu-left__item">
                            <a href="#" class="menu-left__link">Промокоды</a>
                        </li>
                    </ul>
                </nav>

                <button class="menu-left__btn">
                    <img src="../img/menu-left-btn-open.svg" alt="Открыто" class="img-open">
                    <img src="../img/menu-left-btn-close.svg" alt="Закрыто" class="img-close">
                </button>
            </div>
            <a href="index.html" class="header-bottom__logo">
                <img src="../img/logo.svg" alt="Логотип">
            </a>

            <div class="search-form-wrap">
                <form class="search-form">
                    <div class="search-form__input-wrap">
                        <input type="text" class="search-form__input" placeholder="Поиск по каталогу товаров">
                        <img src="../img/search.svg" alt="Поиск" class="search-form__search-icon">
                    </div>
                </form>
                <div class="search-form__btn-wrap">
                    <button class="search-form__btn">
                        <div class="search-form__btn-inner">
                            <img src="../img/menu-catalog-btn-open.svg" alt="Кнопка поиска" class="img-open">
                            <img src="../img/menu-left-btn-close.svg" alt="Кнопка поиска" class="img-close">
                            <span>Каталог</span>
                        </div>
                    </button>
                    <div class="menu-catalog">
                        <div class="menu-catalog__inner">
                            <div class="menu-catalog__left">
                                <div class="menu-catalog__row">
                                    <div class="menu-catalog__item menu-catalog__item--1">
                                        <p class="menu-catalog__text">Термостойкое нательное белье и трикотажные
                                            изделия</p>
                                        <div class="menu-catalog__item-inner">
                                            <div class="menu-catalog__label">325 шт</div>
                                            <img src="../img/menu-catalog-1.png" alt="Меню каталог"
                                                class="menu-catalog__img">
                                        </div>
                                        <a href="catalog.html" class="menu-catalog__link"></a>
                                    </div>
                                    <div class="menu-catalog__item menu-catalog__item--2">
                                        <p class="menu-catalog__text">Термостойкое нательное белье и трикотажные
                                            изделия</p>
                                        <div class="menu-catalog__item-inner">
                                            <div class="menu-catalog__label">5 шт</div>
                                            <img src="../img/menu-catalog-2.png" alt="Меню каталог"
                                                class="menu-catalog__img">
                                        </div>
                                        <a href="catalog.html" class="menu-catalog__link"></a>
                                    </div>
                                </div>
                                <div class="menu-catalog__row">
                                    <div class="menu-catalog__item menu-catalog__item--3">
                                        <p class="menu-catalog__text">Трикотажные изделия в стиле милитари для
                                            охоты, рыбалки, туризма</p>
                                        <div class="menu-catalog__item-inner">
                                            <div class="menu-catalog__label">10 шт</div>
                                            <img src="../img/menu-catalog-3.png" alt="Меню каталог"
                                                class="menu-catalog__img">
                                        </div>
                                        <a href="catalog.html" class="menu-catalog__link"></a>
                                    </div>
                                    <div class="menu-catalog__item menu-catalog__item--4">
                                        <p class="menu-catalog__text">Огнезащитные ткани</p>
                                        <div class="menu-catalog__item-inner">
                                            <div class="menu-catalog__label">32 шт</div>
                                            <img src="../img/menu-catalog-4.png" alt="Меню каталог"
                                                class="menu-catalog__img">
                                        </div>
                                        <a href="catalog.html" class="menu-catalog__link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-catalog__right">
                                <div class="menu-catalog__item menu-catalog__item--5">
                                    <p class="menu-catalog__text">Термо-огнестойкий флис и трикотаж</p>
                                    <div class="menu-catalog__item-inner">
                                        <div class="menu-catalog__label">75 шт</div>
                                        <img src="../img/menu-catalog-5.png" alt="Меню каталог"
                                            class="menu-catalog__img">
                                    </div>
                                    <a href="catalog.html" class="menu-catalog__link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="menu-right">
                <ul class="menu-right__list">
                    <li class="menu-right__item">
                        <a href="brand.html" class="menu-right__link">О бренде</a>
                    </li>
                    <li class="menu-right__item">
                        <a href="payment.html" class="menu-right__link">Оплата и доставка</a>
                    </li>
                    <li class="menu-right__item">
                        <a href="reviews.html" class="menu-right__link">Отзывы</a>
                    </li>
                    <li class="menu-right__item">
                        <a href="contacts.html" class="menu-right__link">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- <div class="header__bottom-mobile"></div> -->
    </div>
</header>