<div class="modal modal-callback">
    <div class="modal__body">
        <button class="modal__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M1 1L11 11M11 1L1 11" stroke-linecap="round" />
            </svg>
        </button>
        <div class="modal__content callback-content">
            <form class="callback-form signup active">
                <h3 class="callback-form__title h3">Заказать обратный звонок</h3>
                <input type="text" class="callback-form__input input" placeholder="Имя">
                <input type="tel" class="callback-form__input input">
                <button class="callback-form__btn-send btn">Отправить</button>
            </form>
        </div>
    </div>
</div>