<div class="reviews-item">
    <div class="reviews-item__top">
        <div class="reviews-item__left">
            <img src="../img/reviews-avatar.png" alt="Аватар" class="reviews-item__avatar">
        </div>
        <div class="reviews-item__right">
            <div class="reviews-item__name">Rusian K.</div>
            <div class="reviews-item__attributes">Цвет: 001-Men-Black Размер: L</div>
            <div class="reviews-item__star-rating">
                <img src="img/star-rating.svg" alt="Звезда" class="reviews-item__rating-item">
                <img src="img/star-rating.svg" alt="Звезда" class="reviews-item__rating-item">
                <img src="img/star-rating.svg" alt="Звезда" class="reviews-item__rating-item">
                <img src="img/star-rating.svg" alt="Звезда" class="reviews-item__rating-item">
                <img src="img/star-rating.svg" alt="Звезда" class="reviews-item__rating-item">
            </div>
        </div>
    </div>
    <a href="#" class="reviews-item__date">8 января 2024</a>
    <p class="reviews-item__text">Пришло быстро. При моих 180 роста и 83 кг веса размер L подошёл отлично. К телу
        прилегает, не висит. В помещении невозможно находиться, сразу становится жарко). На улице на теле не ощущается,
        но тепло сохраняет, чувствуешь себя комфортнее. Сделано качественно, ничего не торчит, строчки ровные.</p>
    <div class="reviews-item__photos">
        <div class="reviews-item__photos-item">
            <img src="../img/reviews-1.jpg" alt="Фото">
        </div>
        <div class="reviews-item__photos-item">
            <img src="../img/reviews-2.jpg" alt="Фото">
        </div>
        <div class="reviews-item__photos-item">
            <img src="../img/reviews-3.jpg" alt="Фото">
        </div>
        <div class="reviews-item__photos-item">
            <img src="../img/reviews-4.jpg" alt="Фото">
        </div>
        <div class="reviews-item__photos-item">
            <img src="../img/reviews-5.jpg" alt="Фото">
        </div>
    </div>
</div>